No.1

In [1]:
lst = []
print (lst)

[]

No. 2

In [2]:
fruit = ['Apple','mango','water melon','Guava','orange','strawberry']
print(fruit)

['Apple', 'mango', 'water melon', 'Guava', 'orange', 'strawberry']

No. 3

In [3]:
print(len(fruit))

6

No. 4

In [10]:
items = ['cup','spoon', 'knife', 'plate','mug']
print(items)
first_item = items[0]
print(first_item)
middle_item = items[2]
print(middle_item)
last_item = items[-1]
print(last_item)

['cup', 'spoon', 'knife', 'plate', 'mug']
cup
knife
mug

No. 5

In [14]:
mixed_data_types =['Abdullah', 30,  55.8,'married', 'Sharada phase1']
print(mixed_data_types)

['Abdullah', 30, 55.8, 'married', 'Sharada phase1']

No. 6

In [ ]:
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',  'Amazon']

No. 7

In [20]:
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',  'Amazon']

print(companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

No. 8

In [19]:
print(len(companies)) #printing number of companies

7

No. 9

In [22]:
first_company = companies[0]
print(first_company)
middle_company = companies[3]
print(middle_company)
last_company = companies[-1]
print(last_company)

Facebook
Apple
Amazon

No. 10

In [23]:
# modifying list
companies[0] = 'Telegram'
print(companies)

['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

No. 11

In [5]:

companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.insert(2,'Instagram')
print(companies)

['Telegram', 'Google', 'Instagram', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

No. 12

In [6]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.insert(3,'Instagram')
print(companies)

['Telegram', 'Google', 'Microsoft', 'Instagram', 'Apple', 'IBM', 'Oracle', 'Amazon']

No. 13

In [18]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.insert(2,'Instagram')
companies[2] = companies[2].upper()
print(companies)

['Telegram', 'Google', 'INSTAGRAM', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

No. 14

In [19]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
joined_companies = "#;&nbsp;".join(companies)
print(joined_companies)

Telegram#;&nbsp;Google#;&nbsp;Microsoft#;&nbsp;Apple#;&nbsp;IBM#;&nbsp;Oracle#;&nbsp;Amazon

No. 15

In [8]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print('Twitter' in companies)

False

No. 16

In [7]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.sort()
print(companies)

['Amazon', 'Apple', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Telegram']

No. 17

In [9]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.reverse()
print(companies)

['Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Google', 'Telegram']

No. 18

In [21]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Slice out the first 3 companies from the list
first_three_companies = companies[:3]

print(first_three_companies)

['Telegram', 'Google', 'Microsoft']

No. 19

In [24]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Slice out the last 3 companies from the list
last_three_companies = companies[4:7]

print(last_three_companies)

['IBM', 'Oracle', 'Amazon']

No. 20

In [25]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Slice out the middle company from the list
middle_company = companies[3]

print(middle_company)

Apple

No. 21

In [16]:
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',  'Amazon']
del companies[0]
print(companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

No. 22

In [17]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del companies[3]
print(companies)

['Telegram', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

No. 23

In [18]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del companies[6]
print(companies)

['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

No.24

In [15]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.clear()
print(companies)

[]

No. 25

In [22]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del companies[0:7]
print(companies)

[]

No. 26

In [23]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
joint = front_end + back_end
print(joint)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

No. 27

In [11]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
joint = front_end + back_end
print(joint)
full_stack = joint.copy()
print(full_stack)
full_stack.insert(8,'python')
full_stack.append('MY SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB', 'python', 'MY SQL']

Exercise level2

No, 1

In [14]:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort() # sort the list
min_age = ages[0] # finding min
max_age = ages[-1] # find max

# Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)

# Find the median age (one middle item or two middle items divided by two)
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n//2-1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]

# Find the average age (sum of all items divided by their number )
average_age = sum(ages) / n

# Find the range of the ages (max minus min)
age_range = max_age - min_age

# Compare the value of (min - average) and (max - average), use abs() method
diff_min = abs(min_age - average_age)
diff_max = abs(max_age - average_age)

print(f"Sorted ages: {ages}")
print(f"Minimum age: {min_age}")
print(f"Maximum age: {max_age}")
print(f"Median age: {median_age}")
print(f"Average age: {average_age}")
print(f"Age range: {age_range}")
print(f"Difference between minimum age and average age: {diff_min}")
print(f"Difference between maximum age and average age: {diff_max}")

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Minimum age: 19
Maximum age: 26
Median age: 24.0
Average age: 22.75
Age range: 7
Difference between minimum age and average age: 3.75
Difference between maximum age and average age: 3.25

finding the middle countries

In [16]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]
print(countries)

# Sort the list of countries alphabetically
countries.sort()

# Find the middle country or countries
n = len(countries)
if n % 2 == 0:
    middle_countries = [countries[n//2-1], countries[n//2]]
else:
    middle_countries = [countries[n//2]]

print(f"The middle country(ies) in the list of countries is:\n\n```\n{middle_countries}\n```")

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
The middle country(ies) in the list of countries you provided is/are:

```
['Lesotho']
```

The countries list is odd

In [17]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

# Unpack the first three countries
country1, country2, country3, *scandic_countries = countries

print(f"The first three countries are: {country1}, {country2}, and {country3}")
print(f"The rest of the countries are: {scandic_countries}")

The first three countries are: China, Russia, and USA
The rest of the countries are: ['Finland', 'Sweden', 'Norway', 'Denmark']

In [13]:
companies = ['Telegram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.remove('Apple')
print(companies)

['Telegram', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']