Exercise Level 1

No. 1

In [1]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))

7

No. 2

In [2]:
it_companies.add('Twitter')
print(it_companies)

{'Microsoft', 'Oracle', 'Facebook', 'IBM', 'Google', 'Amazon', 'Apple', 'Twitter'}

No. 3

In [3]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
IT = {'Instagram','Telegram','Whatsapp','Twitter'}
it_companies.update(IT)
print(it_companies)

{'IBM', 'Whatsapp', 'Google', 'Instagram', 'Apple', 'Twitter', 'Microsoft', 'Oracle', 'Facebook', 'Amazon', 'Telegram'}

No. 4

In [4]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove('Facebook')
print(it_companies)

{'Microsoft', 'Oracle', 'IBM', 'Google', 'Amazon', 'Apple'}

No. 5
Difference between remove and discard: If the item is not found remove() method will raise errors, so it is good to check if the item exist in the given set and discard() method doesn't raise any errors.

Exercise Level 2

In [5]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A.union(B))
print(A.intersection(B))
print(A.issubset(B))
print(A.union(B))
print(B.union(A))
print(A.symmetric_difference(B))
del A
del B

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}

Exercise Level 3

No. 1

In [6]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(len(age)) #length of list
age = set(age)
print(age)
print(len(age)) #length of sets
# this shows that the length of the list is bigge

8
{19, 22, 24, 25, 26}
5

No. 2
Differences between string,list, tuple and sets
String:
- A string is a sequence of characters.
- It is represented by enclosing the characters in single quotes ('') or double quotes ("").
- Example: "Hello World"

List:
- A list is a collection of items which are ordered and changeable.
- It is represented by enclosing the items in square brackets ([]).
- The items in a list can be of different data types.
- Lists allow duplicate values.
- The elements in a list can be modified (mutable).
- Example: [1, 2, 'apple', 'banana']

Tuple:
- A tuple is similar to a list, but it is immutable, i.e., its elements cannot be changed once assigned.
- It is represented by enclosing the items in parentheses ().
- The items in a tuple can be of different data types.
- Tuples allow duplicate values.
- Example: (1, 2, 'apple', 'banana')

Set:
- A set is an unordered collection of unique elements.
- It is represented by enclosing the elements in curly braces ({}) or using the set() function.
- Sets do not allow duplicate values, and they eliminate duplicates automatically.
- The order of elements in a set is not guaranteed.
- Sets are mutable, i.e., elements can be added or removed.
- Example: {1, 2, 3, 4}

No. 2

In [7]:
sentence = "I am a teacher and I love to inspire and teach people."
words = sentence.split()
print(words)
unique_words = set(words)
print(unique_words)

print(len(unique_words))

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']
{'and', 'teacher', 'I', 'am', 'to', 'inspire', 'a', 'love', 'people.', 'teach'}
10