Exercise Level 1

No.1

In [1]:
empty_tuple = ()
print(empty_tuple)

()

No. 2

In [2]:
sisters = ('Maryam','Hafsat','Saadatu','Aisha','Khadija')
print(sisters)
brothers = ('Abubakar','Abdurrashid','Abdulaziz','Ismail')
print(brothers)

('Maryam', 'Hafsat', 'Saadatu', 'Aisha', 'Khadija')
('Abubakar', 'Abdurrashid', 'Abdulaziz', 'Ismail')

No.3

In [3]:
siblings = sisters + brothers
print(siblings)

('Maryam', 'Hafsat', 'Saadatu', 'Aisha', 'Khadija', 'Abubakar', 'Abdurrashid', 'Abdulaziz', 'Ismail')

No.4

In [4]:
print(len(siblings))

9

No. 5

In [10]:
sisters = ('Maryam','Hafsat','Saadatu','Aisha','Khadija')
print(sisters)
brothers = ('Abubakar','Abdurrashid','Abdulaziz','Ismail')
print(brothers)
siblings = sisters + brothers
family_members =   siblings
print(family_members)
family_members = list(siblings)
family_members[0] = 'Fatima'
family_members[0] = 'Muhammad'
print(family_members)
family_members = tuple(family_members)
print(family_members)

('Maryam', 'Hafsat', 'Saadatu', 'Aisha', 'Khadija')
('Abubakar', 'Abdurrashid', 'Abdulaziz', 'Ismail')
('Maryam', 'Hafsat', 'Saadatu', 'Aisha', 'Khadija', 'Abubakar', 'Abdurrashid', 'Abdulaziz', 'Ismail')
['Muhammad', 'Hafsat', 'Saadatu', 'Aisha', 'Khadija', 'Abubakar', 'Abdurrashid', 'Abdulaziz', 'Ismail']
('Muhammad', 'Hafsat', 'Saadatu', 'Aisha', 'Khadija', 'Abubakar', 'Abdurrashid', 'Abdulaziz', 'Ismail')

Exercise Level 2

In [56]:
fruits = ('Guava','coconut','sugar cane') #tuples of fruits
vegetables = ('salad','lettuce') # tuples for fruits
animal_products =('milk','cheese') # examples of animal products
food_stuff_tp = fruits + vegetables + animal_products # joining the tuples
print(food_stuff_tp)
food_stuff_lt =list(food_stuff_tp) #changing tuple to a list
print(food_stuff_lt)
middle_item = food_stuff_lt[3] #slicing middle item
print(middle_item)
first_three_items = food_stuff_lt[0:3] #slicing first three
print(first_three_items)
last_three_items = food_stuff_lt[-3:7] #slicing last three
print(last_three_items)
food_stuff_tp = tuple (food_stuff_lt)
print(food_stuff_tp)
del food_stuff_tp

('Guava', 'coconut', 'sugar cane', 'salad', 'lettuce', 'milk', 'cheese')
['Guava', 'coconut', 'sugar cane', 'salad', 'lettuce', 'milk', 'cheese']
salad
['Guava', 'coconut', 'sugar cane']
['lettuce', 'milk', 'cheese']
('Guava', 'coconut', 'sugar cane', 'salad', 'lettuce', 'milk', 'cheese')

In [4]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
print(nordic_countries)
print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')
False
True